<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | Cup Of Sugar</title>
    {{!-- <link rel="stylesheet" href="/public/style.css"> --}}
    <link rel="stylesheet" href="/public/css/uaplus.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/dm.css">
    <link rel="stylesheet" href="/public/css/nav.css">
</head>

<body>
    <header></header>

    <!-- GLOBAL NAVBAR -->
    <nav class="navbar">
        <div class="nav-left">
            <a href="/" class="nav-logo">Cup Of Sugar</a>
        </div>

        <div class="nav-right">
            {{#if user}}
                <a href="/"><span>Home</span></a>
                <a href="/dmthreads"><span>DMs</span></a>
                <a href="/posts/create"><span>New Post</span></a>
                {{#if (eq user.role "moderator")}}
                    <a href="/moderator"><span>Moderation</span></a>
                {{else if (eq user.role "admin")}}
                    <a href="/moderator"><span>Moderation</span></a>
                {{/if}}

                <a href="/user/{{user.username}}">
                    <span class="nav-cta">Hi, {{user.username}}</span>
                </a>
                <a href="/logout" class="logout-btn"><span>Logout</span></a>
            {{else}}
                <a href="/"><span>Home</span></a>
                <a href="/login"><span>Login</span></a>
                <a href="/signup"><span class="nav-cta">Sign Up</span></a>
            {{/if}}
        </div>
    </nav>

    <main class="page-content">
        {{{body}}}
    </main>

    <footer>

    </footer>

    <footer>

    </footer>

</body>
</html>
