<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <title>{{title}} | Cup Of Sugar</title>

    {{!-- GLOBAL STYLES --}}
    <link rel="stylesheet" href="/public/css/errors.css">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/css/dm.css">
    <link rel="stylesheet" href="/public/css/nav.css">
=======
    <title>Cup of Sugar - {{title}}</title>
>>>>>>> origin/feat/locations-schema
</head>

<body>
    <header>
    </header>

    {{!-- GLOBAL NAVBAR --}}
    <nav class="navbar">
        <div class="nav-left">
            <a href="/" class="nav-logo">Community App</a>
        </div>

        <div class="nav-right">

            {{#if user}}
                <a href="/">Home</a>
                <a href="/dmthreads/user/{{user.username}}">DMs</a>
                <a href="/posts/new">New Post</a>
                <span class="nav-user">Hi, {{user.username}}</span>
                <a href="/logout" class="logout-btn">Logout</a>

            {{else}}
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
            {{/if}}

        </div>
    </nav>

    <main class="page-content">
        {{{body}}}
    </main>

</body>
</html>
