<article>
    <h1>{{post.title}}</h1>
    
    <div class="post-meta">
        <span class="author">Posted by <strong>{{post.username}}</strong></span>
        <span class="location">📍 {{post.city}}, {{post.state}}</span>
        <span class="date">
            <time datetime="{{post.createdAt}}">{{post.datePosted}}</time>
        </span>
    </div>

    <div class="post-details">
        <span class="type {{post.type}}">{{post.type}}</span>
        <span class="category">{{post.category}}</span>
        {{#if post.tags}}
        <div class="tags">
            {{#each post.tags}}
            <span class="tag">{{this}}</span>
            {{/each}}
        </div>
        {{/if}}
    </div>

    <div class="content">{{post.content}}</div>

    {{#if post.commentsEnabled}}
<!-- Comments Section Placeholder -->
    {{/if}}
</article>