{{!-- Inject server-side variables into client --}}
<script>


const passwordErrorMessage = "{{passwordErrorMessage}}";

</script>

<div class="general-container">
	{{!-- <link rel="stylesheet" href="/public/css/login.css" /> --}}
	
   <div class="colorful-blur-ring no-animate"></div>

   <div class="form-container">
      <h1>Sign Up</h1>

      <form id="userForm" data-user-data-form action="/signup" method="POST">
         <div class="form-group">
            <label for="email">
               Email
               <abbr title="required">*</abbr>
            </label>
            <input
               id="email"
               name="email"
               data-label="Email"
               type="email"
               autocomplete="email"
               required
            />
            <p class="hint" id="emailHint"></p>
         </div>
         
         <div class="form-group">
            <label for="username">
               Username
               <abbr title="required">*</abbr>
            </label>
            <input
               id="username"
               name="username"
               data-label="Username"
               type="text"
               autocomplete="username"
               minlength="{{SCHEMA_CONFIG.username.minLength}}"
               maxlength="{{SCHEMA_CONFIG.username.maxLength}}"
               pattern="{{SCHEMA_CONFIG.username.regex}}"
               required
            />
            <p class="hint" id="usernameHint"></p>
         </div>

         <div class="form-group">
            <label for="password">
               Password
               <abbr title="required">*</abbr>
            </label>
            <input
               id="password"
               name="password"
               data-label="Password"
               type="password"
               autocomplete="new-password"
               minlength="{{SCHEMA_CONFIG.password.minLength}}"
               maxlength="{{SCHEMA_CONFIG.password.maxLength}}"
               pattern="{{SCHEMA_CONFIG.password.regex}}"
               required
            />
            <p class="hint" id="passwordHint"></p>
         </div>

         <div class="form-group">
            <label for="confirmPassword">
               Confirm Password
               <abbr title="required">*</abbr>
            </label>
            <input
               id="confirmPassword"
               name="confirmPassword"
               data-label="Password confirmation"
               type="password"
               autocomplete="new-password"
               minlength="{{SCHEMA_CONFIG.password.minLength}}"
               maxlength="{{SCHEMA_CONFIG.password.maxLength}}"
               pattern="{{SCHEMA_CONFIG.password.regex}}"
               required
            />
            <p class="hint" id="confirmPasswordHint"></p>
         </div>

         <div class="form-group">
            <label for="dob">
               Date of birth
               <abbr title="required">*</abbr>
            </label>
            <input 
               id="dob" 
               name="dob" 
               data-label="Date of birth"
               type="date" 
               autocomplete="bday" 
               required 
            />
            <p class="hint" id="dobHint"></p>
         </div>

         <div class="form-group">
            <label for="zipcode">
               ZIP Code
               <abbr title="required">*</abbr>
            </label>
            <input
               id="zipcode"
               name="zipcode"
               data-label="ZIP Code"
               type="text"
               minlength="{{SCHEMA_CONFIG.zipcode.minLength}}"
               maxlength="{{SCHEMA_CONFIG.zipcode.maxLength}}"
               pattern="{{SCHEMA_CONFIG.zipcode.regex}}"
               required
            />
            <p class="hint" id="zipcodeHint"></p>
         </div>


         <div class="mt-2">
            <p 
               id="userDataMessage"
               aria-live="assertive" 
               class="
               input-message 
               {{#unless error}}
               visually-hidden
               {{/unless}}"
            >
               {{#if error}}
               {{error}}
               {{/if}}
            </p>
         </div>

         <progress hidden></progress>
         <button id="newAccount" type="submit" class="btn-cta">Create Account</button>
      </form>
   </div>
</div>

<script type="module" src="/public/js/signupValidation.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.6/dist/purify.min.js"></script>